<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" 	value="classpath:/com/wook/app/mybatis/mybatis-config.xml" />
		<property name="mapperLocations">
			<list>
		 		<value>classpath:/com/wook/app/mybatis/mappers/*.xml</value>
			</list>
		</property>
	</bean>

	<mybatis-spring:scan base-package="com.wook.app.mybatis.mappers" />

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.wook.app.mybatis.mappers" />
        <property name="annotationClass" value="org.apache.ibatis.annotations.Mapper" />
    </bean>

</beans>