@charset "UTF-8";

/* -----------------------------
      메인페이지 > 검색 구역
----------------------------- */
.searchArea {
	position: absolute;
	top: 500px;
	left: 100px;
	width: 90%;
}

.searchForm {
	width:550px;
	margin: 30px auto 0;
	border: 5px solid #444;
	padding: 10px;
	border-radius: 30px;
	background-color: #fff;
}

.searchForm select {
	width:120px;
	height: 40px;
	border: 0;
	margin-left: 10px;
}

.searchForm input[type="text"] {
	width: 330px;
	height: 40px;
	border: 0;
	border-bottom: 0.5px solid #000;
}

.searchForm button[type=button] {
	border: 0;
}

.searchForm .btnImg {
	width:40px;
	height: 40px;
	border: 0;
}


button[type="button"].btn_basic								{ display:inline-block; margin-right:5px; padding:0 25px; height:36px; color:#fff; background:#313647; font-size:14px; border-radius:6px; }
button[type="button"].btn_basic2							{ display:inline-block; padding:8px 25px; color:#fff; background:#313647; font-size:14px; margin:4px 0; vertical-align:top; border-radius:6px; }
a.attachedFile												{ padding:2px;  display:inline-block; margin-left: 10px;}
a.attachedFile img											{ display: inline-block; }


/* -----------------------------
      loading
----------------------------- */
#back														{position: absolute; z-index: 9999;background-color: #000000;display:none;left:0;top:0;}
#loadingBar													{position:absolute;left:calc(50% - 100px);top: calc(50% - 100px);display:none;z-index:9999;}

/* -----------------------------
      focused_task
----------------------------- */
.focused_task 												{ position: relative; background: #f1f2f4; padding: 50px 0 100px; }
.focused_task .inner:after									{ content:""; clear:both; display:block; }
.focused_task .focused_con									{ background: #fff; padding: 50px 100px; border-radius: 50px 0 50px 0; overflow: hidden; }
.focused_task .focused_con > li 							{ width: 50%; height: 170px; float: left; padding-left: 200px; background-repeat: no-repeat; }
.focused_task .focused_con > li strong 						{ display: block; }
.focused_task .focused_con > li > span 						{ display: block; margin-bottom: 25px; font-size: 18px; color: #222222; }
.focused_task .focused_con > li ul li 						{ position: relative; font-size: 14px;  margin-bottom: 5px; line-height: 1; padding-left: 15px; }
.focused_task .focused_con > li ul li:after					{ position: absolute; left: 0; top: 7px; display: block; content: ''; width: 7px; height: 2px; background: url(../images/sub/focused_bul.gif) no-repeat; }
.focused_task .focused_con > li:first-child 				{ background-image: url(../images/sub/focused_ico01.png); background-position: 49px 0; border-bottom: 1px solid #f1f2f4; border-right: 1px solid #f1f2f4; }
.focused_task .focused_con > li:first-child + li 			{ background-image: url(../images/sub/focused_ico02.png); background-position: 49px 0; }
.focused_task .focused_con > li:first-child + li + li 		{ padding-top: 45px; background-image: url(../images/sub/focused_ico03.png); background-position: 49px 47px; }
.focused_task .focused_con > li:first-child + li + li + li 	{ padding-top: 45px; background-image: url(../images/sub/focused_ico04.png); background-position: 49px 47px; border-left: 1px solid #f1f2f4; border-top: 1px solid #f1f2f4; }

.focused_btn 												{ position: absolute; bottom: -42px; left: 50%; transform: translatex(-50%); width: 346px; height: 80px; line-height: 80px; text-align-last: left; padding-left: 45px;  color: #fff;  font-size: 24px; background: #ec3154 url(../images/sub/focused_btn_arrow.png) no-repeat 275px center; border-radius: 50px; }
.focused_btn2 												{ position: absolute; margin-top:70px; left: 50%; transform: translatex(-50%); width: 346px; height: 80px; line-height: 80px; text-align-last: left; padding-left: 45px;  color: #fff;  font-size: 24px; background: #ec3154 url(../images/sub/focused_btn_arrow.png) no-repeat 275px center; border-radius: 50px; }

.focused_task div.index_list								{ width:49%; float:left; }
.focused_task div.index_list:nth-child(odd)					{ margin-right:2%; }
.focused_task div.index_list table							{ width:100%; }
.focused_task .div__tb_title								{ height:80px; text-align:center; background-color:#37414d; border-radius:35px 0 0 0; padding:30px 0 0 0; position:relative; color:#03b267; font-size:24px; font-weight:bold; line-height:1; }
.focused_task .table__list									{ border-collapse: collapse; margin-top:.3em; }
.focused_task .table__list thead tr th						{ padding:.5em 0; }
.focused_task .table__list thead tr th span					{ border-bottom:5px solid #fec200; background-color:#fff; box-shadow:2px 2px 2px #f0f0f0; display:inline-block; width:100%; height:67px; line-height:67px; }
.focused_task .table__list tbody tr td						{ padding:.5em 0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.focused_task .table__list tbody tr td span					{ background-color:#fff; box-shadow:2px 2px 2px #f0f0f0; display:inline-block; width:100%; height:67px; line-height:67px; }

/* -----------------------------
	리스트 상세 페이지
----------------------------- */
.ContentDetail{margin-top: 10px;}
.ContentDetail p.detailTitle {padding: 10px 5px; border: 1px solid black; text-align: center; font-weight: bold; margin: 10px 0;}


/* -----------------------------
      Sub Title
----------------------------- */
.is_page 		{ text-align: center; padding: 70px 0 50px; font-weight: 400; font-size: 26px; }
.sub_title 		{ padding-bottom: 40px; text-align: center; }
.sub_title h3 	{ font-size: 26px; font-weight: normal; }


/* -----------------------------
      TIP
----------------------------- */
.div__tip								{ position:relative; margin:2em 0; padding:1.4em 1.4em 1.4em 6em; border:solid 1px #c7cdd7; background:#f8f8f8; }
.div__tip h3.tip-label 					{ position:absolute; top:0.8em; left:1em; font-size:1.43em; color:#1c2238; }
.div__tip dl.tip-list 					{ font-size:0.9em; }
.div__tip dl.tip-list dt 				{ margin-top:1em; padding-left:12px; color:#5d5d5d; }
.div__tip dl.tip-list dt:before			{ content:"- "; }
.div__tip dl.tip-list dt:first-child	{ margin-top:0; }
.div__tip dl.tip-list dt strong			{ color:#eb6100; }
.div__tip dl.tip-list dd 				{ margin-top:0 !important; }
.div__tip dl.tip-list dt.mandatory span { display:inline-block; width:30px; height:19px; vertical-align:middle; }
.div__tip dl.tip-list dt.mandatory span.symbol { border:1px solid #C0C0C0; background-color:#faebd7; }
.div__tip dl.tip-list dt.mandatory span.symbol2 { border:3px solid #f5e1c6; }


/* -----------------------------
      board_list
----------------------------- */
.board_list	.box-search								{ overflow: hidden; background: #f8f8f8; padding: 10px; margin-bottom: 20px; }
.board_list .box-search 							{ overflow: hidden; background: #f8f8f8; padding: 10px; margin-bottom: 20px; }
.board_list .box-search select 						{ width: 160px; padding: 0 10px; display: inline-block; border: 1px solid #e0e0e0; height: 36px; line-height: 36px; font-size: 14px; color: #666666; }
.board_list .box-search input						{ width: 280px; border: 1px solid #e0e0e0; height: 36px; font-size: 14px; padding: 10px; }
.board_list .box-search input:placeholder 			{ color: #d3d3d3; }
.board_list .box-search .box-search-line 			{ float: left; }
.board_list .box-search .box-search-keyword 		{ float: right; }
.board_list .box-search .box-search-keyword button	{ display: inline-block; padding: 0 25px; height: 36px; color: #fff; background: #313647; font-size: 14px; border-radius:6px; }

/* -----------------------------
     board_list Button
----------------------------- */
.list_bottom 										{ text-align: right; margin-bottom: 20px; }
.list_bottom .bp_btn 								{ padding: 0 30px; height: 35px; background: #0076c0; font-size: 14px; color: #fff; margin-bottom: 20px; border-radius:6px; }
.list_bottom .bp_btn:disabled 						{ background: #ccc; cursor: default; }

.wtp-list-tb 										{ width: 100%; margin-bottom: 20px; border-collapse: collapse; }
.wtp-list-tb  caption								{ display:none; left:-99999999in; }
.wtp-list-tb  thead th 							{ border: 1px solid #e0e0e0; border-top: 1px solid #333333; background: #eeeeee; padding: 10px 10px; text-align: center; font-size: 14px; }
.wtp-list-tb  tbody tr.selected 					{ background: #f1f1f1; }
.wtp-list-tb  tbody tr.selected td 				{ font-weight:bold; }
.wtp-list-tb  tbody tr.addRow						{ background:lightgreen; }
.wtp-list-tb  tbody tr.delRow						{ background: lightpink;; text-decoration: line-through; color: black;}
.wtp-list-tb  tbody th 							{ border: 1px solid #e0e0e0; background: #eeeeee; padding: 10px 10px; text-align: center; font-size: 14px; }
.wtp-list-tb  tbody td 							{ border: 1px solid #e0e0e0; padding: 10px 10px; text-align: center; font-size: 14px; }
.wtp-list-tb  tbody td.tbl_ti 					{ text-align: left; }
.wtp-list-tb  tbody td.tbl_ti a 					{ max-width: 600px; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; display: inline-block;  padding-right: 10px; vertical-align: middle;}
.wtp-list-tb  tbody td div.over_text				{ max-width: 460px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: middle; }
.wtp-list-tb  tbody td input[type="text"] 		{ width: 100%; border: 1px solid #e0e0e0; height: 36px; font-size: 14px; padding: 10px; }
.wtp-list-tb  tbody td input[type="checkbox"] 	{ width: 20px; border: 1px solid #e0e0e0; height: 33px; font-size: 14px; padding: 10px; }
.wtp-list-tb  tbody td.halfHeight input[type="checkbox"]{ height: 17px;}

.totalPage											{text-align: left; height: 30px;}

/* -----------------------------
      board_info
----------------------------- */
.defaultBtn 										{ padding: 0 40px; height: 50px; background: #0175d3; font-size: 18px; color: #fff; margin-bottom: 20px; border-radius: 6px;}
.btnToggleFile 										{ padding: 0 40px; height: 50px; background: #0175d3; font-size: 18px; color: #fff; margin-bottom: 20px; }

.wtp-info-tb 										{ width: 100%; margin-bottom: 20px; border-collapse: collapse; }
.wtp-info-tb thead th 							{ border: 1px solid #e0e0e0; border-top: 1px solid #333333; background: #eeeeee; padding: 20px 10px; text-align: center; font-size: 14px; }
.wtp-info-tb caption								{ display:none; left:-99999999in; }
.wtp-info-tb tbody th 							{ border: 1px solid #e0e0e0; background: #eeeeee; height:50px; padding: 5px 10px; text-align: center; font-size: 14px; }
.wtp-info-tb tbody tr.selected					{ background: #f1f1f1; }
.wtp-info-tb tbody td 							{ border: 1px solid #e0e0e0; padding: 10px 10px; text-align: left; font-size: 14px; word-break:break-all}
.wtp-info-tb tbody td.tbl_ti 						{ text-align: left; }
.wtp-info-tb tbody td.tbl_ti a:not(.paging_number)	{ max-width: 600px; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; display: inline-block;  padding-right: 10px; vertical-align: middle;}
.wtp-info-tb tbody td input[type="text"] 				{ width: 100%; border: 1px solid #e0e0e0; height: 30px; font-size: 14px; padding: 5px 10px; }
.wtp-info-tb tbody td input[type="password"]			{ width: 100%; border: 1px solid #e0e0e0; height: 30px; font-size: 14px; padding: 5px 10px; }
.wtp-info-tb tbody td input[type="text"].upd  			{ width: 120px; border: 1px solid #e0e0e0; height: 36px; font-size: 14px; padding: 10px; }
.wtp-info-tb tbody td input[type="checkbox"]  			{ width: 20px; border: 1px solid #e0e0e0; height: 33px; font-size: 14px; padding: 10px; }
.wtp-info-tb tbody td input[type="checkbox"]:nth-child(n+2)	{  margin-left:20px;}
.wtp-info-tb tbody td.halfHeight input[type="checkbox"]	{ height: 17px;}
.wtp-info-tb tbody td button[type="button"].btn_balue		{ display:inline-block; margin-right:5px; padding:0 25px; height:36px; color:#fff; background:#0175d3; font-size:14px; }
.wtp-info-tb tbody td select								{ width: 100%; padding:0 10px; display:inline-block; border:1px solid #e0e0e0; height:36px; line-height:36px; font-size:14px; color:#666; }
.wtp-info-tb tbody td input:disabled,
.wtp-info-tb tbody td button:disabled,
.wtp-info-tb tbody td select:disabled 					{ background:#e0e0e0; }
.wtp-info-tb tbody tr.tr_list_file td						{ padding:0; }
.wtp-info-tb.status										{ width: 300px; float: right;}
.wtp-info-tb.status:after 								{ content: ""; display: block; clear: both; }

.paging 											{ padding: 0 0 30px; }

.buttonArea											{ height: 40px; width: 100%; margin-top: 10px ; clear: both;}
.buttonArea .right 									{ float: right; }
.buttonArea .left 									{ float: left; }
.buttonArea button 									{ padding: 0 40px; height: 50px; background: #0175d3; font-size: 18px; color: #fff; margin-bottom: 20px;}
.buttonArea .right button:nth-child(n+2) 			{ margin-right:10px;}
.buttonArea .left button:nth-child(n+2) 			{ margin-left:10px;}

.tableInfobuttonArea								{ min-height: 30px; width: 100%;  clear: both; text-align:center; margin-bottom: 10px;}
.tableInfobuttonArea .right 						{ float: right; }
.tableInfobuttonArea .left 							{ float: left; }
.tableInfobuttonArea button 						{ padding: 0 15px; margin-right:5px;  height: 30px; background: #4d515a; font-size: 12px; color: #fff; border-radius:6px;}
.tableInfobuttonArea button:hover					{ background:#005498; }
.tableInfobuttonArea button:last-child 				{ margin:0; }
.tableInfobuttonArea .right button:nth-child(n+2)	{margin-right:10px;}
.tableInfobuttonArea .left button:nth-child(n+2) 	{margin-left:10px;}

/* -----------------------------
	FILE LIST
----------------------------- */
div.div-file-list 												{ width:100%; clear:both; }
div.div-file-list ul 											{ counter-reset : row-num; }
div.div-file-list ul li											{ counter-increment: row-num; position:relative; display:inline-block; width:100%; padding:0 15px; line-height:32px; text-align:left; background-color:#FFF; }
div.div-file-list ul li img										{ margin-right:5px;}
div.div-file-list ul li:nth-child(2n) 							{ background-color:#f1f1f1; }
div.div-file-list ul li a:before								{ content: counter(row-num) ". "; }
div.div-file-list ul li a.delete
, div.div-file-list ul li a.deleteCancle						{ margin-left: 5px;}
div.div-file-list ul li a.delete:before
, div.div-file-list ul li a.deleteCancle:before					{ content: none; }
div.div-file-list ul li a img									{ margin:2px 6px -2px 1px; }
div.div-file-list ul li input[type=checkbox]					{ float:left; margin-right:6px; margin-left:0px !important; }
div.div-file-list ul li.deleteFile span							{ text-decoration: line-through; color: red; }
div.div-file-list button										{ margin:10px 0 10px 10px; }
div.div-file-list + div											{ padding:10px; }
div.div-file-upload 											{ width:100%; display: none; clear:both; float:none; padding:5px 0; }
div.div-file-upload > p											{ text-align:right; }
div.div-file-upload > div.div-filedrop							{ border:1px solid #e3e3e3; height:160px; overflow-y:auto; margin-bottom:5px; }
div.div-file-upload > div.div-filedrop > p 						{ line-height:160px; text-align:center; }
div.div-file-upload > div.div-filedrop > ul 					{ counter-reset : row-num; }
div.div-file-upload > div.div-filedrop > ul li:nth-child(2n) 	{ background-color:#f1f1f1; }
div.div-file-upload > div.div-filedrop > ul li 					{ padding:0 15px; counter-increment: row-num; height:32px; line-height:32px; text-align:left; background-color:#FFF; }
div.div-file-upload > div.div-filedrop > ul li label			{ cursor:pointer; -ms-user-select:none; -moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none; user-select:none; }
div.div-file-upload > div.div-filedrop > ul li:hover			{ background-color:#f1f1f1; }
div.div-file-upload > div.div-filedrop > ul li:before 			{ content: counter(row-num) ". "; }

div.div-file-list + div	ul li button.delfile 					{ display: inline-block; margin-right: 5px; padding: 0 25px; height: 26px; color: #fff; background: #0175d3; font-size: 14px;}

/* -----------------------------
	파일드래그인드랍 업로드
----------------------------- */

label.label_file 		{ display: inline-block; margin-right:5px; padding:0 25px; height:33px; line-height:33px; color: #fff; font-size:14px; text-align:center; background:#4d515a; border-radius:6px; cursor: pointer; }
label.label_file:hover 	{ background: #005498; }

label.label_file_upload 		{ display: inline-block; margin-right:5px; padding:0 25px; height:33px; line-height:33px; color: #fff; font-size:14px; text-align:center; background:#0076c0; border-radius:6px; cursor: pointer; }
label.label_file_upload:hover 	{ background: #005498; }

input[type="file"] 		{ position:absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }


/* -----------------------------
	DRAG FILES
----------------------------- */
div.div-drag-files												{ width:100%; height:100px; border:1px solid #ccc; overflow-y:auto; margin:10px 0 ; display:inline-block; }
div.div-drag-files p											{ text-align:center; line-height:100px; user-select:none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; }
div.div-drag-files ul											{ counter-reset : row-num; }
div.div-drag-files ul li 										{ counter-increment: row-num; padding:0 15px; height:32px; line-height:32px; text-align:left; background-color:#FFF; }
div.div-drag-files ul li:nth-child(2n)							{ background-color:#f1f1f1; }
div.div-drag-files ul li:before 								{ content: counter(row-num) ". "; }
div.div-drag-files ul li a.delete								{ margin-left:5px;}
div.div-drag-files + div										{ width:100%; display:inline-block; }

/* -----------------------------
	FILES UPLOAD
----------------------------- */
a.attachedFile													{ padding:2px;  display:inline-block; margin-left: 10px;}
a.attachedFile img												{ display: inline-block; }


/* -----------------------------
     board_detail_info Button
----------------------------- */
.info_bottom					{ margin:20px 0; min-height: 30px; text-align:center; }
.info_bottom button 			{ display:inline-block; margin-right:5px; padding:0 25px; height:36px; color:#fff; background:#4d515a; font-size:14px; border-radius:6px; }
.info_bottom button:hover		{ background:#005498; }
.info_bottom button.white		{ color:#0175d3; background:#fff; border: 1px solid #888;}
.info_bottom button:last-child 	{ margin:0; }

/* -----------------------------
     board_common_info Button
----------------------------- */
.common_bottom					{ margin:20px 0; min-height: 30px; text-align:center; }
.common_bottom button 			{ display:inline-block; margin-right:5px; padding:0 25px; height:36px; color:#fff; background:#0076c0; font-size:14px; border-radius:6px; }
.common_bottom button:hover		{ background:#005498; }
.common_bottom button.white		{ color:#0175d3; background:#fff; border: 1px solid #888;}
.common_bottom button:last-child 	{ margin:0; }
.common_bottom button:disabled 	{ background: #ccc; cursor: default; }

button[id$='btnDelete'],
button[id^='btnDelete']			{ background-color:#ec3154; border-radius:6px; }
button[id$='btnDelete']:hover,
button[id^='btnDelete']:hover	{ background-color:#cc1739; }